
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/
mono_crash*
.vscode/*

# Save files
*.save

# Build related stuff
*.exe
*.pck
*.x86_64
Builds/*